.grid {
    --gridColumns: 1;

    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    gap: 40px;

    // код создает еще 11 монидифкаторов которые говорят сколько будет колонок в сетке
    @for $i from 2 through 12 {
        &--#{$i} {
            --gridColumns: #{$i};
        }
    }
}